.bg-opaque {
    background-color: rgba(0,0,0,0);
}


main {
    margin-top: 64px !important;
}

.table-wrapper {
    padding: 12px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 8px;
}

body {
background: linear-gradient(90deg,#f6ffb7 0%,#96efff 50%, #7cff75 100%);
  background-size: 1000%;
  animation: background 120s linear alternate infinite;
}

@keyframes background {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}